<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baicha.mywallpaper.mapper.TagsMapper">

    <resultMap id="BaseResultMap" type="com.baicha.mywallpaper.entity.Tags">
            <id property="tagId" column="tag_id" />
            <result property="tagName" column="tag_name" />
    </resultMap>

    <sql id="Base_Column_List">
        tag_id,tag_name
    </sql>
</mapper>
